# System files
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/
.vscode/

# Project files
.github/
lib/
test/
CHANGELOG.md

# For development
.git/
.terserrc
.eslintignore
.eslintrc.cjs
.prettierignore
.prettierrc
.mocharc.json
.editorconfig
tsconfig.json
