# System files
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/
.vscode/

# Project files
.github/
lib/
docs/
test/
CHANGELOG.md
CODE_OF_CONDUCT.md

# For development
.git/
terser.config.json
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
.editorconfig
tsconfig.json
tsconfig.prod.json
